@CHARSET "UTF-8";
/*
.navbar-bg,.navbar, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #12ace1 !important;
}
*/

#contenedor {margin-top:30px;}

.custom-input-lg {
	.input-lg;
	width: 500px;
}

.scrollup{
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
}

.logo-agimed {
	margin-left:30px;
	margin-top:15px;
	}


.textarea_grande {
    height: 200px;
    width: 100%;
}



#header_admin {
    border-top: 5px solid #EDEDED;
    border-bottom: 2px solid #bf0411;
    margin: 0 0 20px 0;
    background-color: #FFFFFF;
}
#logo_admin {
    float: left;
    margin: 5px 0 0 0;
}
.navbar-fixed-top {
    /*min-height: 100px;*/
}


/*#menu_izq_admin {
    font-family: "Open Sans", Arial, sans-serif;
}
#menu_izq_admin li a {
    font-family: "Open Sans", Arial, sans-serif;
    color: #bf0411;
}*/
